.reviewListContainer {width:100%;}
.reviewListContainer table tr:first-child {text-align:center;}
.reviewListContainer table tr td:nth-child(1) {width:10%; text-align:center;}
.reviewListContainer table tr td:nth-child(2) {width:60%;}
.reviewListContainer table tr td:nth-child(3) {width:15%; min-width:80px; max-width:100px; text-align:center;}
.reviewListContainer table tr td:nth-child(4) {width:15%; min-width:80px; max-width:100px; text-align:center;}

.pagingContainer {min-width:100%; text-align:center;}